
$gray: rgb(66, 66, 66)


*
  box-sizing: border-box
  margin: 0

header
  background: black
  height: 100vh
  width: 100%
  position: relative
  nav
    position: absolute
    width: 100%
    background-color: $gray
    transition: background-color 300ms
    display: flex
    align-items: center
    @keyframes slide_down
      0%
        top: -6vh
      100%
        top: 0
  .animateNav
    position: fixed
    background-color: white
    z-index: 30
    opacity: 0.9
    animation:
      name: slide_down
      duration: 500ms
      timing-function: ease-in-out
  nav
    .horizontal_nav
      display: flex
      align-items: center
      float: left
      position: relative
      padding: 5px 5px
      height: 6vh
      text-decoration: none
      text-transform: uppercase
      margin-left: 6%
      color: white
      background-color: $gray
      font-size: 24px
      transition: background-color 300ms,font-size 300ms,height 300ms,color 300ms
      &:nth-child(1):hover
        .vertical_nav_option
          display: flex
      &:nth-child(4)
        margin-right: 40%
      .vertical_nav
        position: absolute
        list-style-type: none
        padding: 0
        perspective: 1000px
        left: -13px
        top: 57px
        @keyframes list_animation
          0%
            opacity: 0
            transform:  rotateX(90deg)
          100%
            opacity: 1
            transform:  rotateX(0deg)
        .vertical_nav_option
          animation:
            name: list_animation
            fill-mode: forwards
          display: none
          opacity: 0
          padding: 10px 10px
          background-color: $gray
          justify-content: center
          align-items: center
          @for $i from 1 through 4
              &:nth-child(#{$i})
                animation-duration: $i * 0.3s
                animation-delay: $i*0.15 - 0.15s
          a
            font-size: 24px
            color: white
            text-decoration: none
            background-color: $gray
          .after_animate_a
            font-size: 20px
            color: black
            background-color: white
        .after_animate_nav_option
          background-color: white
      .after_animate_vertical_nav
        left: -10px
        top: 37px


    .animate_hor_bar
      background-color: white
      color: black
      font-size: 20px
      height: 4vh
    button
      border: none
      text-transform: uppercase
      outline: none
      cursor: pointer
      background-color: $gray
      color: white
      font-size: 24px
      transition: background-color 300ms,color 300ms,font-size 300ms
    .animateButton
      background-color: white
      color: black
      font-size: 20px
  .logo
    position: absolute
    left: 50%
    top: 40%
    transform: translateX(-50%)
main
  overflow: hidden
  .separator
    width: 100%
    height: 20vh
    position: relative
    background-color: white
    img
      position: absolute
      top: 50%
      transform: translateY(-50%)
    .separator_1
      left: 0
    .separator_2
      right: 0
  .start
    width: 200%
    height: 80vh
    background-image: url("../images/start-background.png")
    display: flex
    flex-direction: row
    .start_1
      width: 100%
      height: 80vh
      display: flex
      flex-direction: column
      align-content: space-between
      align-items: center
      position: relative
      overflow: hidden
      transition: transform 1s, opacity 1s
    #section2
      opacity: 0
    .start_1
      .setting_1_header
        width: 100%
        height: 4vh
        font-size: 30px
        color: white
        text-align: center
        top: 30vh
        background-color: black
        opacity: 0
        position: absolute
      #section_2_header
        top: 10vh
        opacity: 1
      .container1
        position: absolute
        top: 38vh
        opacity: 0
      #section_2_container1
        top: 27vh
        opacity: 1
        width: 100%
      .container1
        .container
          width: 700px
          position: relative
          overflow: hidden
        #section_2_container
          width: 100%
          position: static
          height: 25vh
        .container
          svg
            position: absolute
            right: 0
            height: 5vh
            cursor: pointer
            z-index: 100
            fill: white
            top: 50%
            transform: translateY(-50%)
          .left_arrow
            left: 0
          #main_container
            display: flex
            flex-direction: row
          #main_container2
            display: flex
            flex-direction: row
            width: 80%
            justify-content: space-around
            margin: auto
            .players
              height: 20vh
              width: 20%
              background-color: #5c5c59
              border-radius: 5px
              color: #cccccc
              font-size: 82px
              font-weight: 700
              display: flex
              flex-direction: column
              justify-content: center
              align-items: center
              line-height: 1.0
              box-shadow: 10px 14px 29px black
              text-shadow: 5px 5px 10px black
              opacity: 0.9
          #main_container
            .location_container
              position: relative
              width: 700px
              .location_name
                position: absolute
                top: 10%
                left: 50%
                transform: translateX(-50%)
                font-size: 40px
                color: white
                user-select: none
              .location
                width: 700px
                height: 40vh
                user-select: none
                border-radius: 50px
              .location_blinds
                position: absolute
                top: 80%
                left: 50%
                transform: translateX(-50%)
                font-size: 40px
                color: white
      .container_next
        background-color: black
        opacity: 0
        width: 100%
        height: 10vh
        display: flex
        align-items: center
        position: absolute
        top: 82vh
      #section_2_container_next
        top: 62vh
        opacity: 0.8
      .container_next
        .next
          width: 10%
          outline: none
          background-color: #272727
          height: 7vh
          border-radius: 15px
          color: white
          font-size: 26px
          font-weight: 700
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          margin: auto
