*
  box-sizing: border-box
  margin: 0
body
  height: 100vh
  background-color: #2e2e30
  .start-page
    position: fixed
    z-index: 100
    background-color: rgba(0,0,0,0.8)
    width: 100%
    height: 100vh
    .deal-the-cards
      position: absolute
      left: 50%
      top: 50%
      transform: translateX(-50%)
      color: white
      padding: 5px
      font-size: 40px
      font-weight: 700
      border-bottom: 4px solid white
      transition: all 600ms
      cursor: pointer
      &:hover
        top: 48%


  main
    height: 90%
    width: 100%
    display: flex
    align-items: center
    justify-content: center

    .middle-container
      position: absolute
      left: 50%
      transform: translateX(-50%)
      top: 23%
      width: 50%
      height: 30%
      .middle-container-relative
        position: relative
        width: 100%
        height: 100%
        .pot
          position: absolute
          top: 10%
          left: 50%
          transform: translateX(-50%)
        .flop-river-turn
          position: absolute
          top: 30%
          display: flex
          flex-direction: row
          justify-content: space-around
          width: 70%
          transform: translateX(-50%)
          left: 50%
          .common-card
            width: 80px
            height: 105px
            border-radius: 7px
        .coins_wrapper
          position: absolute
          top: 80%
          left: 50%
          transform: translateX(-50%)
          width: 19%
          height: 40%
          display: flex
          flex-wrap: wrap
          justify-content: center
          .user-coins
            position: relative
            width: 100%
            height: 100%
            .coin
              width: 40px
              height: 40px
              position: absolute


    .begin-deal
      bottom: 138px
      left: 63px
      opacity: 1
      display: block
    .container
      width: 1400px
      height: 750px
      background-image: url('../images/table.png')
      background-position: center center
      background-size: 1400px 750px
      background-repeat: no-repeat
      position: relative
      .card
        position: absolute
        bottom: 14%
        left: 47%
        width: 80px
        height: 105px
        border-radius: 7px
        transition: transform 300ms, left 300ms, bottom 300ms
        transition-timing-function: ease-out

      .deal-player-card-1
        transform: rotate(5deg)
        left: 47%
        bottom: 15%
      .deal-player-card-2
        transform: rotate(-10deg)
        left: 44%
        bottom: 12%
      .deal-card-3-1-1
        transform: rotate(185deg)
        left: 20%
        bottom: 67%
      .deal-card-3-2-1
        transform: rotate(-175deg)
        left: 76%
        bottom: 67%
      .deal-card-3-1-2
        transform: rotate(170deg)
        left: 16%
        bottom: 63%
      .deal-card-3-2-2
        transform: rotate(-190deg)
        left: 72%
        bottom: 63%
      .deal-card-6-1-1
        transform: rotate(185deg)
        left: 15%
        bottom: 25%
      .deal-card-6-2-1
        transform: rotate(185deg)
        left: 15%
        bottom: 63%
      .deal-card-6-3-1
        transform: rotate(185deg)
        left: 46%
        bottom: 68%
      .deal-card-6-4-1
        transform: rotate(-175deg)
        left: 80%
        bottom: 63%
      .deal-card-6-5-1
        transform: rotate(-175deg)
        left: 80%
        bottom: 25%
      .deal-card-6-1-2
        transform: rotate(170deg)
        left: 11%
        bottom: 21%
      .deal-card-6-2-2
        transform: rotate(170deg)
        left: 11%
        bottom: 59%
      .deal-card-6-3-2
        transform: rotate(170deg)
        left: 42%
        bottom: 64%
      .deal-card-6-4-2
        transform: rotate(-190deg)
        left: 76%
        bottom: 59%
      .deal-card-6-5-2
        transform: rotate(-190deg)
        left: 76%
        bottom: 21%
      .deal-card-8-1-1
        transform: rotate(185deg)
        left: 21%
        bottom: 18%
      .deal-card-8-2-1
        transform: rotate(185deg)
        left: 13%
        bottom: 48%
      .deal-card-8-3-1
        transform: rotate(185deg)
        left: 29%
        bottom: 80%
      .deal-card-8-4-1
        transform: rotate(185deg)
        left: 46%
        bottom: 80%
      .deal-card-8-5-1
        transform: rotate(-175deg)
        left: 65%
        bottom: 80%
      .deal-card-8-6-1
        transform: rotate(-175deg)
        left: 85%
        bottom: 48%
      .deal-card-8-7-1
        transform: rotate(-175deg)
        left: 79%
        bottom: 18%
      .deal-card-8-1-2
        transform: rotate(170deg)
        left: 18%
        bottom: 15%
      .deal-card-8-2-2
        transform: rotate(170deg)
        left: 10%
        bottom: 45%
      .deal-card-8-3-2
        transform: rotate(170deg)
        left: 26%
        bottom: 77%
      .deal-card-8-4-2
        transform: rotate(170deg)
        left: 43%
        bottom: 77%
      .deal-card-8-5-2
        transform: rotate(-190deg)
        left: 62%
        bottom: 77%
      .deal-card-8-6-2
        transform: rotate(-190deg)
        left: 82%
        bottom: 45%
      .deal-card-8-7-2
        transform: rotate(-190deg)
        left: 76%
        bottom: 15%

      #player
        transform: translateX(-50%)
      .user-container
        position: absolute
        .inner-user-container
          position: relative
          img
            height: 100px
            width: 100px
            border-radius: 70px
            box-shadow: 5px 10px 30px
            border: 2px solid gray
          .user-cash-container
            text-align: center
            color: white
            font-size: 16px
            font-weight: 700
            padding: 3px 15px
            background-color: rgba(0,0,0,0.5)
            border: 2px solid rgba(255,255,255,0.4)
            border-radius: 15px
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: -9%
            box-shadow: 5px 10px 30px black
      .money-slider
        position: absolute
        top: 102%
        right: -10%
  section
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    height: 10%

    .button
      width: 150px
      height: 50px
      justify-content: center
      align-items: center
      background-color: #c66e01
      font-size: 28px
      color: white
      margin-right: 20px
      border-radius: 10px
      cursor: pointer
      display: flex
